<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s.com.userapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pms"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pms"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserApp">
        <activity android:name=".MainDashboard.UserHistory"></activity>
        <activity android:name=".AdminModule.Admin_History" />
        <activity android:name=".AdminModule.AdminMain" />
        <activity android:name=".MainDashboard.AddPost" />
        <activity android:name=".MainDashboard.Dashboard" />
        <activity android:name=".Registration.Login" />
        <activity android:name=".Registration.Register" />
        <activity android:name=".Entry.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>